<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="HeaderLogo">
            <img src="../static/img/logo.png">
            Landseeker
        </div>
        <nav class="HeaderMenu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <div>
            <article>
                <h3>The Most Beautifuls Landscapes</h3>
                <h1>NEW ORLEANS FOREST</h1>
                <button id="checkitout">CHECK IT OUT</button>
            </article>
        </div>
        <section>
            <article class="produto" id="produto1">
                <!-- <img src="../static/img/product-1.png" alt=""> -->
                <button>SEE MORE</button>
            </article>
            <article class="produto" id="produto2">
                <!-- <img src="../static/img/product-2.jpg" alt=""> -->
                <button>SEE MORE</button>
            </article>
            <article class="produto" id="produto3">
                <!-- <img src="../static/img/product-3.jpg" alt=""> -->
                <button>SEE MORE</button>
            </article>
            <article class="produto" id="produto4">
                <!-- <img src="../static/img/product-4.jpg" alt=""> -->
                <button>SEE MORE</button>
            </article>
            <article class="produto" id="produto5">
                <!-- <img src="../static/img/product-5.jpg" alt=""> -->
                <button>SEE MORE</button>
            </article>
            <article class="produto" id="produto6">
                <!-- <img src="../static/img/product-6.jpg" alt=""> -->
                <button>SEE MORE</button>
            </article>
            
        </section>
    </main>
    <footer>
        Copyright © Digital House
    </footer>
</body>
</html>